# Introduction

The string data type is a sequence made up of one or more individual characters.

The character could be a letter, digit, whitespace, or any symbol.

Strings are delimited by single, double or triple quotes.

### Example

In [2]:
country = "India"

state = 'Karnataka'

city = '''Bengaluru'''

university = """Dayananda Sagar University"""

Individual characters in a string are accessed using the subscript ([]) operator.

The expression in brackets is called an index.

The index of the first character is 0 and that of the last character is n-1, where n is the number of characters in a string.

### Example

In [3]:
country = "India"

In [4]:
country[0]

'I'

In [5]:
country[1]

'n'

In [6]:
country[4]

'a'

In [7]:
country[5]

IndexError: string index out of range

# String operations

## String Concatenation

Concatenate means to join together.

Python uses the + operator to concatenate two strings.

### Example

In [8]:
text_one = "Hello, "

text_two = "Welcome to Python Programming"

message = text_one + text_two

print(message)

Hello, Welcome to Python Programming

## Appending Strings

Appending means adding something to the end.

In Python, one string can be added at the end of another string using the += operator.

### Example

In [10]:
message = "Hello, "

message_two = "Welcome to Computer Science and Engineering"

message += message_two

print(message)

Hello, Welcome to Computer Science and Engineering

## Multiplying or Repeating a string

Use the * operator to repeat a sstring n number of times.

### Example

In [13]:
text = "Colourful"

print(text * 5)

ColourfulColourfulColourfulColourfulColourful

In [14]:
text = "Colourful "

print(text * 5)

Colourful Colourful Colourful Colourful Colourful

## Converting to string data type

The function *str()* is used to convert a value of any data type into string type.

### Example

In [15]:
year = 2024

print(type(year))

<class 'int'>

In [16]:
year = str(year)

print(type(year))

<class 'str'>

## print function

The print function prints one or more literals or values in a new line.

To avoid printing a next literal on a new line, add the argument *end* with a separator like comma, whitespace, etc.

### Example

In [17]:
first_text = 'Today is Saturday'

next_text = 'Tomorrow is Sunday'

print(first_text)

print(next_text)

Today is Saturday
Tomorrow is Sunday

In [18]:
print(first_text, end=',')

print(next_text)

Today is Saturday,Tomorrow is Sunday

In [19]:
print(first_text, end='')

print(next_text)

Today is SaturdayTomorrow is Sunday

In [20]:
print(first_text, end=' ')

print(next_text)

Today is Saturday Tomorrow is Sunday

## Raw String

A raw string literal is prefixed by an 'r' and passes all the characters as it is.

### Example

In [21]:
file_path = 'C:\Workspace\newfolder'

print(file_path)

C:\Workspace
ewfolder

In [22]:
file_path = r'C:\Workspace\newfolder'

print(file_path)

C:\Workspace\newfolder

# Strings are Immutable

Immutable means once created can't be changed.

Whenever we try to modify an existing string variable, a new string is created.

### Example

In [27]:
new_programming_language = 'Golang'

In [28]:
id(new_programming_language)

1794403038448

In [29]:
new_programming_language = 'Rust'

In [30]:
id(new_programming_language)

1794338194032

# Built-in String Methods and Functions

Strings are objects in Python.

An object is an entity which possess both data and functions to manipulate that data.

The functions are available to any instance (variable) of the object.

A method is just like a function except that it is involed or called on an object.

## *len()* function

Returns the length of the string.

### Example

In [7]:
len('Rainbow')

7

### Example

In [5]:
text = 'Rainbow'

In [6]:
print(len(text))

7

## *lower()* method

Converts all the characters in the string into lower case.

### Example

In [8]:
message = 'Welcome to Bengaluru.'

In [9]:
message.lower()

'welcome to bengaluru.'

### Example

In [10]:
'Welcome to Bengaluru.'.lower()

'welcome to bengaluru.'

## *upper()* method

Converts all the characters in the string into upper case.

### Example

In [11]:
message = 'Welcome to Bengaluru.'

In [12]:
message.upper()

'WELCOME TO BENGALURU.'

## *swapcase()* method

Toggles the case of every character.

### Example

In [13]:
capital = 'Bengaluru is the capital city of Karnataka.'

In [14]:
capital.swapcase()

'bENGALURU IS THE CAPITAL CITY OF kARNATAKA.'

## *title()* method

The title method capitalizes all first letters in each word of a string.

### Example

In [4]:
'india is my motherland'.title()

'India Is My Motherland'

### Example

In [2]:
text = 'india is my motherland'

In [3]:
print(text.title())

India Is My Motherland

## *capitalize()* method

The method is used to capitalize the first letter of the string.

### Example

In [21]:
colour = 'violet is the first colour in the rainbow.'

print(colour.capitalize())

Violet is the first colour in the rainbow.

## *strip()* method

Removes all leading and trailing whitespace in a string.

In [27]:
text = '    Rainbow has seven colours.   '

In [28]:
print(text)

    Rainbow has seven colours.

In [29]:
text.strip()

'Rainbow has seven colours.'

## *lstrip()* method

Removes all the leading whitespace in a string.

In [23]:
text = '               Rainbow has seven colours.'

In [24]:
text.lstrip()

'Rainbow has seven colours.'

## *rstrip()* method

Removes all the trailing whitespace in a string.

In [25]:
text = 'Rainbow has seven colours.          '

In [26]:
text.rstrip()

'Rainbow has seven colours.'

## *replace(old_str, new_str)* method

The replace method works like a find and replace tool.

It takes in two values within its parenthesis, one that it searches for and the other that it replaces the searched value with.

### Example

In [30]:
words = "Hello there!"

In [31]:
words.replace('!', '.')

'Hello there.'

## *find(str, beg, end)* method

Checks if *str* is present in the string.

If found, returns the position at which *str* occurs, otherwise returns -1.

### Example

In [34]:
text = 'The sky is blue.'

In [35]:
text.find('sky')

4

### Example

In [38]:
aim = 'The sky is the limit.'

In [40]:
aim.find('the')

11

### Example

In [42]:
taste = 'Sugar is sweet and honey is sweeter'

In [43]:
taste.find('is', 10)

25

### Example

In [ ]:
taste = 'Sugar is sweet and honey is sweeter'

In [44]:
taste.find('is', 6, 27)

6

## *count(str, beg, end)* method

The method counts the number of times the *str* occurs in a string.

*beg* specifies the beginning of the string to search and *end* is the length of the string to search.

### Example

In [34]:
message = 'hello'

In [35]:
message.count('l')

2

In [37]:
message.count('l', 0, 3) # hel

1

In [42]:
message.count('l', 2, 4) # ll

2

## *endswith(suffix, beg, end)* method

Checks if the string ends with *suffix*.

Returns True if ends with *suffix* and False otherwise.

Set *beg* to 0 and *end* to the length of the string to search the entire string or use any other value to search a part of it.

### Examle

In [47]:
text = 'He is my best friend'

In [48]:
text.endswith('end')

True

### Example

In [49]:
text = "Mount Everest is the tallest peak."

In [50]:
text.endswith('is')

False

### Example

In [51]:
text = "Mount Everest is the tallest peak."

In [54]:
text.endswith('is', 0, 16)

True

## *startswith(prefix, beg, end)* method

Checks if the string starts with *prefix*.

Returns True if starts with *prefix* and False otherwise.

Set *beg* to 0 and *end* to the length of the string to search the entire string or use any other value to search a part of it.

### Example

In [55]:
text = 'Work is worship'

In [56]:
text.startswith('Work')

True

### Example

In [57]:
text = 'Bengaluru is the garden city'

In [59]:
text.startswith('gard', 17)

True

## *isalnum()* method

Returns True if the string has atleast 1 character and every characer is either a number or an alphabet.

Returns False otherwise.

### Example

In [66]:
text = 'JamesBond007'

In [67]:
text.isalnum()

True

### Example

In [68]:
text = 'James Bond 007'

In [69]:
text.isalnum() # Contains a space

False

### Example

In [70]:
text = 'JamesBond'

In [71]:
text.isalnum()

True

### Example

In [72]:
year_independence = '1947'

In [73]:
year_independence.isalnum()

True

## *isalpha()* method

Returns True if the string has atleast 1 character and every character is an alphabet.

Returns False otherwise.

### Example

In [74]:
text = 'JamesBond'

In [75]:
text.isalpha()

True

### Example

In [76]:
text = 'JamesBond007'

In [77]:
text.isalpha()

False

## *isdigit()* method

Returns True if the string contains only digits and False otherwise.

### Example

In [78]:
year_independence = '1947'

In [79]:
year_independence.isdigit()

True

### Example

In [80]:
text = 'JamesBond007'

In [81]:
text.isdigit()

False

## *islower()* method

Returns True if the string has atleast 1 character and every character is a lowercase alphabet.

Returns False otherwise.

### Example

In [82]:
text = 'welcome to Bengaluru'

In [83]:
text.islower()

False

### Example

In [84]:
text = 'welcome to bengaluru'

In [85]:
text.islower()

True

## *isupper()* method

Returns True if the string has atleast 1 character and every character is a uppercase alphabet.

Returns False otherwise.

### Example

In [86]:
city = 'BENGALURU'

In [87]:
city.isupper()

True

### Example

In [88]:
city = 'Bengaluru'

In [89]:
city.isupper()

False

## *isspace()* method

Returns True if the string contains only whitespace characters.

Returns False otherwise.

### Example

In [90]:
message = '    '

In [91]:
message.isspace()

True

### Example

In [92]:
message = 'Welcome'

In [93]:
message.isspace()

False

## *split(delim)* method

Returns a list of substrings separated by the specified delimiter.

If no delimiter is specified, then by default it splits strings on all whitespace characters.

### Example

In [94]:
message = 'Welcome to Python programming'

In [95]:
message.split()

['Welcome', 'to', 'Python', 'programming']

### Example

In [97]:
alphabets = 'a,b,c,d,e,f'

In [98]:
alphabets.split(',')

['a', 'b', 'c', 'd', 'e', 'f']

## *join(list)* method

Joins a list of strings using the delimiter with which the function is invoked.

### Example

In [99]:
words = ['Welcome', 'to', 'Python', 'programming']

In [100]:
' '.join(words)

'Welcome to Python programming'

### Example

In [101]:
colours = ['Violet', 'Indigo', 'Blue', 'Green', 'Yellow', 'Orange', 'Red']

In [104]:
'; '.join(colours)

'Violet; Indigo; Blue; Green; Yellow; Orange; Red'

## *isidentifier()* method

Returns True if the string is a valid identifier.

### Example

In [105]:
city_name = 'Bengaluru'

In [106]:
city_name.isidentifier()

True

### Example

In [107]:
def add_numbers(a, b):
    return a + b

In [109]:
add_numbers.isidentifier()

AttributeError: 'function' object has no attribute 'isidentifier'

### Example

In [112]:
class Person():
    def __init__(self):
        pass

In [113]:
Person.isidentifier()

AttributeError: type object 'Person' has no attribute 'isidentifier'

## *enumerate(str)* function

Returns an enumerate object that lists the index and value of all the characters in the string as pairs.

### Example

In [114]:
language = 'Kannada'

In [116]:
list(enumerate(language))

[(0, 'K'), (1, 'a'), (2, 'n'), (3, 'n'), (4, 'a'), (5, 'd'), (6, 'a')]

# Slice Operation

A substring of a string is called a *slice*.

A subset of a string can be taken from the original string using [] operator.

The [] operator is known as slicing operator.

The syntax of the slice operation is [start:end:stepsize].

*start* specifies the beginning index of the substring and *end* is the index of the last character of the string.

### Example

In [1]:
movie_name = 'James Bond 007'

In [2]:
movie_name[0:5]

'James'

In [5]:
movie_name[6:10]

'Bond'

In [7]:
movie_name[11:]

'007'

**Note:** Omitting either start or end index, by default takes start or end of the string. Omitting both means the entire string.

### Example

In [11]:
movie_name[:]

'James Bond 007'

A string can be accessed either from a first character or from the last character.

To access from the first character, use zero based index.

To access from the last character, use the index starting from -1.

### Example

In [12]:
language = 'Python'

In [16]:
language[-1]

'n'

In [17]:
language[-6]

'P'

In [18]:
language[-4:]

'thon'

In [19]:
language[:-2]

'Pyth'

In [20]:
language[-4:-2]

'th'

## Specifying Stride While Slicing Strings

*Stride* refers to the number of characters to move forward after the first character is retrieved from the string.

*stride* is mentioned as the **third** argument in the slicing operator.

The default value of stride is 1.

### Example

In [21]:
message = 'Welcome'

In [23]:
message[3:7:2]

'cm'

In [22]:
message[::2]

'Wloe'

### Example

In [24]:
language = 'Python'

In [25]:
language[::-1]

'nohtyP'

# *ord()* And *chr()* Functions

The *ord()* function returns the ASCII code of the character.

The *chr()* function returns the character represented by a ASCII number.

### Example

In [26]:
ord('A')

65

In [28]:
ord('1')

49

### Example

In [29]:
chr(49)

'1'

In [30]:
chr(65)

'A'

# *in* And *not in* Operators

*in* and *not in* operators are used with strings to determine whether a string is present in another string.

*in* and *not in* operators are also known as *membership* operators.

### Example

In [31]:
text = 'Welcome to Python programming'

In [34]:
print('Python' in text)

True

In [35]:
print('python' in text)

False

In [36]:
print('prog' in text)

True

### Example

In [37]:
text = 'Rainbow has seven colours'

In [38]:
print('red' not in text)

True

In [39]:
print('colors' not in text)

True

# Comparing Strings

Strings are compared using the relational (comparison) operators.

Strings are compared by using the lexicographical (dictionary) order: using the ASCII value of the character. Uppercase letters come before the lowercase letters.

The ASCII values of A-Z is 65-90 and a-z is 97-122.

### Example

In [40]:
'Book' == 'Book'

True

### Example

In [41]:
'Book' != 'book'

True

### Example

In [42]:
'Book' > 'book'

False

In [43]:
ord('B'), ord('b') # 66 is less than 98

(66, 98)

### Example

In [44]:
'cat' > 'cot'

False

# Iterating Strings

A string is a sequence of characters.

We can iterate through the string using *while* or *for* loop.

### Example

In [45]:
language = 'Python'

In [46]:
index = 0

language_length = len(language)

In [47]:
while index < language_length:
    print(language[index])
    index += 1

P
y
t
h
o
n

### Example

In [48]:
message = 'Welcome'

In [49]:
for ch in message:
    print(ch)

W
e
l
c
o
m
e