# Computer

A computer is an electronic device that can store, process, and retrieve data.

# Programming

A computer program consists of code that is executed on a computer to perform particular tasks.

Programming is the process of giving machines a set of instructions that describe how a program should be carried out.

Programmers write source code by using a code editor or and Integrated Development Environment (IDE).

The code needs to be converted into machine language so that the machine can understand the instructions and execute the program. This process of converting source code into machine language is known as compiling.

# Programming Paradigms

Programming paradigms are different ways or styles in which a given program or programming language can be organized.

Programming paradigms are not languages or tools.

## 1. Monolithic or Imperative Programming

Monolithic or Imperative programming consists of a set of instructions that are executed by the computer in a given sequential order.

In order to change the sequence of instructions, *jump* or *goto* statements are used.

Monolothic programs have just one program module. All the instructions required to complete the task are embedded within the same module itself. This makes the program large and difficult to debug and maintain.

### Example

In [1]:
num_one = float(input("Enter first number: "))

num_two = float(input("Enter second number: "))

result = num_one + num_two

print("{} + {} = {}".format(num_one, num_two, result))

Enter first number: 1
Enter second number: 2
1.0 + 2.0 = 3.0

## 2. Procedural Programming

In procedural programming, the program is divided into a number of subroutines or functions.

It focuses on code reusability through the use of functions.

C and Pascal are examples of languages that follow this paradigm.

### Example

In [2]:
def get_number():
    
    return float(input("Enter a number: "))

In [3]:
def calculate_sum(num_one, num_two):
    
    return num_one + num_two

In [4]:
def print_result(num_one, num_two, operator, result):
    print(f"{num_one} {operator}  {num_two} = {result}")

In [5]:
num_one = get_number()

num_two = get_number()

result = calculate_sum(num_one, num_two)

print_result(num_one, num_two, "+", result)

Enter a number: 1
Enter a number: 2
1.0 +  2.0 = 3.0

## 3. Structured or Modular Programming

In structured or modular programming, the overall program strucutre is divided into individual modules.

Strucured programming allows the code to be loaded into memory more efficiently and also be reused in other programs.

### Example

In [6]:
import math

In [7]:
print(math.pi)

3.141592653589793

## 4. Functional Programming

In functional programming, functions are treated as first-class citizens, meaning that they can be assigned to variables, passed as arguments, and returned from other functions.

Functional programming encourages programs written mostly with functions.

### Example

In [8]:
get_num = lambda : float(input("Enter a number: "))

In [9]:
calculate_sum = lambda first_num, second_num: first_num() + second_num()

In [10]:
result = calculate_sum(get_num, get_num)

Enter a number: 1
Enter a number: 2

In [11]:
result

3.0

## 5. Object Oriented Programming

Object-Oriented Programming revolves around the concept of objects, which are instances of classes. 

It organizes code into objects that encapsulate data and behavior.

OOP promotes modularity, reusability, and allows for concepts such as inheritance, polymorphism, and encapsulation.

Java, C++, and Python are popular languages that support OOP.

### Features of Object Oriented Programming

Following are the important features of object oriented programming:

1. Classes and objects

2. Encapsulation

3. Abstraction

4. Inheritance

5. Polymorphism

#### Classes and Objects

An object is anything that really exists in the world and can be distinguished from others. For example, a table, a ball, a car, a dog, a person etc.

Every object has some behavior and is represented by attributes and actions. For example, a car by name **WagonR** exists physically and has attributes like brand, color, varinat, price etc. In programming, the attributes are represented by variables. Smilarly, **WagonR** can perform actions like move forward, reverse, stop etc. In programming, actions are represented by functions.

A class is a model or blueprint for creating objects. A class does not exist physically, while an object does.

#### Encapsulation

Encapsulation is a mechanism where the attribute and the methods that act on the attributes are bind together.

#### Abstraction

A class may contain a lot of data and the user may not need all the data. In this case we hide the unnecessary data from the user and expose only the required data. This is called abstraction.

#### Inheritance

Creating new classes from the existing classes, so that the new classes acquire all the features of the existing classes is called inheritance. A good example for inheritance is children inherit the qualities of the parents.

#### Polymorphism

The term Polymorphism comes from the Greek language, meaning many forms. Thus polymorphism represents the ability to assume different forms. In programming, if an object or method is exhibiting different behaviour in different contexts, it is called polymorphic nature.

# Python

Python is a programming language developed by Guido Van Rossum, a Dutch computer scientist and mathematician, in the year 1991.

Guido Van Rossum picked the name *Python* from the TV show *Monty Python's Flying Circus*.

The logo of Python shows two intertwined snakes.

The current major version of the Python is 3.

Python is a free and open source software.

## Features of Python

Python is one of the **easier** and **simple** programming language to learn.

Python is an **interpreted, high-level, general-purpose** programming language.

Python is a **case sensitive** programming language.

Python is **dynamically typed**.

Python is **platform independent**: runs on Windows, Linux and Mac.

Python is a **functional oriented** as well as **object oriented** programming language.

According to a report, a Python program is typically one-fifth to one-third the size of equivalent Java or C++ code. This means the job gets done faster.

Python has an incredibly **extensive standard library**.

The **only drawback** that one could find in Python is its **execution speed**.

## Applications of Python

Python is one of the **most sought-after skills** in the technology industry today, like Google, YouTube, Dropbox, Zope Corporation, Industrial Light & Magic, Walt Disney Feature Animation, Blender 3D, Pixar, NASA, the NSA, Red Hat, Nokia, IBM, Netflix, Yelp, Intel, Cisco, HP, Qualcomm, JPMorgan Chase, Spotify, etc.

Python is used in: 

* fron-end development
* back-end development
* full-stack development
* testing
* data analytics
* data science
* mobile development
* game development

# Environment setup

Most OS X and Linux operating systems already come with Python installed. Python is not included in Windows system.

We will be using a **software platform** called **Anaconda** and an **Integrated Development Environment (IDE)** called **Jupyter Notebook**.

Anaconda download page (https://www.anaconda.com/download)

Anaconda installation guide (https://docs.anaconda.com/free/anaconda/install/index.html).

## Using Jupyter Notebook

1. **On Windows:** Navigate through Start -> All apps -> Anaconda3 (64-bit) -> Jupyter Notebook.

   **On Linux:** Open the terminal and type Jupyter Notebook.
   
   A new browser window opens.

2. Click **New** dropdown and select **Folder**.

3. A new folder by name **Untitled Folder** will be created.

4. Select the folder and click **Rename**. Enter the name for the folder. Click **Rename**.

5. Double click the folder to open.

6. Click **New** dropdown and select **Python 3 (ipykernel)**.

7. A new **Jupyter Notebook** opens.

8. Click on **Untitled** to rename the notebook.

9. Enter the new name for the notebook and click **Rename**.

### Jupyter Notebook Cell

1. The empty white rectangle section below the toolbar is called the **cell**.

2. Each cell is where we write the code.

3. Click in the first cell.

# The Print Statement

Print statement is a function in Python. 

Print allows to output the information to the user.

Write the keyword *print* followed by parenthesis.

Whatever is inside of the parenthesis will be the output for the user to see.

### Example 1

Within the cell write the following:

In [12]:
print("Hello, Welcome to Python programming.")

Hello, Welcome to Python programming.

**Note:** To execute the code, hold shift and press enter (the cell must be selected).

### Example 2

In [13]:
print("Harohalli")

print("Kanakapura Road")

Harohalli
Kanakapura Road

In [14]:
print("Harohalli", end=",")

print("Kanakapura Road")

Harohalli,Kanakapura Road

### Example 3

In [15]:
print("Bengaluru", "Mangaluru", "Mysuru")

Bengaluru Mangaluru Mysuru

In [16]:
print("Bengaluru", "Mangaluru", "Mysuru", sep=",")

Bengaluru,Mangaluru,Mysuru

# Comments

Comments are **notes that we write, either for ourselves or for someone else to read**.

Comments are not read by the interpreter, meaning the **computer ignores the comments**.

A good comment should be **short, easy to read, and to the point**.

Adding a comment to every line of code is not recommended. But add the **comment wherever necessary**.

In Python we write comments using the **#** symbol.

### Example 1

In [17]:
# this is a comment

### Example 2

In [18]:
print("Hello, Welcome to Pythong programming.") # Print a greeting message

Hello, Welcome to Pythong programming.

### Example 3

In [19]:
"""
Program Name: Addition of two numbers

Author: Deepak H G

Language: Python

"""

number_one = 12

number_two = 15

print(number_one + number_two)

27

In [20]:
'''
Program Name: Addition of two numbers

Author: Deepak H G

Language: Python

'''

number_one = 12

number_two = 15

print(number_one + number_two)

27

# Data Types

Data types are how we define values, like words or numbers.

Data types define what we can do and how these values are stored in computer memory.


## Basic Data types in Python

| Data Type | Python Keyword | Sample Value | Description              |
| --------  | -------------- | -----------  | ------------------------ |
| NoneType  |      None      | None         | Object with no value     |
| Integer   |      int       |  5           | Whole numbers            |
| Float     |      float     | 5.7          | Decimal number           |
| Boolean   |      bool      | True         | True or False values     |
| String    |      str       | "Hello"      | Characters within quotes |

## None Type

The *None* type defines a null value or no value.

### Example 1

In [21]:
ninth_planet = None

In [22]:
print(ninth_planet)

None

## Integer

Integers or ints are **whole numbers** with no decimal point.

Integers are mainly used in mathematical calculations.

### Example 1

In [23]:
print(2)

2

### Example 2

In [24]:
print(10)

10

## Float

Number having a **decimal point** is known as floating point or float data type.

Float data types are mainly used in mathematical calculations.

### Example 1

In [25]:
print(10.953)

10.953

### Example 2

In [26]:
print(8.0)

8.0

### Example 3

In [27]:
# float value in scientific notation 

print(2E3)

2000.0

## Complex Datatype

A complex number is written in the form a + bj, where a is the real part and b is the imaginary part of the number.

j indicates the square root value of -1.

### Example 1

In [28]:
2 + 3j

(2+3j)

### Example 2

In [29]:
-1-5.5J

(-1-5.5j)

## Binary, Octal and Hexadecimal Numbers

A **binary number** is written by prefixing 0b(zero and b) or 0B(zero and B) before the value.

### Example 1

In [30]:
0b11

3

### Example 2

In [31]:
0B1111

15

**Octal numbers** are indicated by prefixing 0o (zero and o) or 0O (zero and O) before the value.

### Example 1

In [32]:
0o12

10

### Example 2

In [33]:
0O22

18

**Hexadecimal numbers** are representd by prefixing 0x (zero and x) or 0X (zero and X) before the value.

### Example 1

In [34]:
0xFF

255

### Example 2

In [35]:
0XA1

161

## Boolean

The boolean data type has **either a True or False value**.

Boolean can't be assigned any other value except True or False.

Most common example is to track whether something occurred or not.

### Example 1

In [36]:
print(True)

True

### Example 2

In [37]:
print(False)

False

## String

Strings are a **set of characters, symbols, numbers, whitespace, and empty space between two sets of quotation marks**.

In Python, either **single or double quotes** can be used to create a string.

### Example 1

In [38]:
print("Welme to Python Programming.")

Welme to Python Programming.

### Example 2

In [39]:
print("2024") # number defined as string

2024

### Example 3

In [40]:
print("")

### Example 4

In [41]:
print('True') # boolean value defined as string

True

### Example 5

In [42]:
"This is Deepak's laptop."

"This is Deepak's laptop."

## Type Checking

Use the method *type()* to check the type of a value.

It always prints the **kind of data type**.

Useful to check data types when we're unsure.

### Example 1

In [43]:
type(5)

int

### Example 2

In [44]:
type(5.853)

float

### Example 3

In [45]:
type(True)

bool

### Example 4

In [46]:
type("Welcome")

str

### Example 5

In [47]:
type("")

str

## Exercise

1. Print your name.


2. Print your residential address.

# Variables

Variables allow us to save values into computer memory using a name. This lets us to use those values later in the program.

This is similar to how we store information in our brain.

Variables are stored in computer memory and are accessed later by using their name.

## Variable Declaration

Declare a name on the left side of the equals operator (=), and on the right side, assign the value that we want to save.

### Example 1

In [48]:
name = "Deepak"

## Variable Naming Convention

Variable name can contain letters, underscores, and numbers.

Variable name should contain only lower case letters.

Variable name can't start with a number.

When multiple words are to be used for naming, separate each word by underscore (_).

## Integer and Float Variables

### Example 1

In [49]:
year = 2024

In [50]:
print(year)

2024

### Example 2

In [51]:
height = 5.11

In [52]:
print(height)

5.11

## Boolean Variables

### Example 1

In [53]:
is_raining = False

print(is_raining)

False

### Example 2

In [54]:
is_hot = True

print(is_hot)

True

## String Variables

### Example 1

In [55]:
name = "Deepak"

print(name)

Deepak

### Example 2

In [56]:
country = 'India'

state = 'Karnataka'

city = 'Bengaluru'

print(country, state, city)

India Karnataka Bengaluru

## Overwriting Previously Created Variables

### Example 1

In [57]:
country = 'India'

state = 'Karnataka'

city = 'Mangaluru'

print(country, state, city, sep=", ")

India, Karnataka, Mangaluru

## Whitespace

Whitespace represent characters used for spacing. Example: spaces and tabs.

There is a whitespace to the left and right of the equals operator in variable declaration. It is not required but makes code easy to read.

Computer ignores whitespace.

### Example 1

In [58]:
first_name = 'Deepak'

middle_name = 'Herur'

last_name = 'Gundu Rao'

age = 44

is_student = False

# String Operations: What can we do with string data type?

## String Concatenation

Concatenation refers to adding one string to the end of another string.

Use **+** operator to concatenate strings.

### Example 1

In [59]:
institution_name = "Dayananda Sagar" + "University" + "School of Engineering"

print(institution_name)

Dayananda SagarUniversitySchool of Engineering

In [60]:
institution_name = "Dayananda Sagar " + "University " + "School of Engineering"

print(institution_name)

Dayananda Sagar University School of Engineering

### Example 2

In [61]:
first_name = "Dayananda Sagar"

middle_name = "University"  

last_name = "School of Nursing"

institution_full_name = first_name + " " + middle_name + " " + last_name

print(institution_full_name)

Dayananda Sagar University School of Nursing

## String Repetition

The * operator is also known as string repetion operator.

When a string is multiplied with an **integer n**, the string is repeated n times.

### Example 1

In [62]:
print("Hello " * 3)

Hello Hello Hello

## Formatting Strings

String formatting allows us to write the entire string and inject the variables in the proper locations we want.

### Using *.format()* method

Put a period (.) operator at the end of the string quotation, followed by the keyword *format*.

Add the variables within the parenthesis after the keyword, to be inserted into the string.

### Example 1

In [63]:
name = 'Deepak'

"Hello {}".format(name)

'Hello Deepak'

#### Example 2

Hello {name}, Welcome to {Programming language} programming.

In [64]:
name = 'Deepak'

programming_language = 'Python'

In [65]:
"Hello {}, Welcome to {} programming".format(name, programming_language)

'Hello Deepak, Welcome to Python programming'

#### Example 3

My name is {name}, I am studying in {semester} semester.

In [66]:
name = "Saathvik"

semester = 2

In [67]:
"My name is {}, I am studying in {} semester.".format(name, semester)

'My name is Saathvik, I am studying in 2 semester.'

### Using f Strings

Put the letter f at the beginning of the string and include the variable name within {} brackets.

#### Example 1

Example text: Hello {student name}, welcome to {institution name}.

In [68]:
name = "Samhithaa"

institution = 'DSU'

In [69]:
f"Hello {name}, welcome to {institution}"

'Hello Samhithaa, welcome to DSU'

### Using % Operator

#### Example 1

Example text: I am {name} and I am {age} year old.

In [70]:
name = 'Suchethana'

age = 5

In [71]:
"I am %s and I am %d year old." % (name, age)

'I am Suchethana and I am 5 year old.'

**Note:** Use **s** after % to insert string data type, **d** for integer and **f** for float.

# Escape Characters in Strings

Escape characters escape the normal meaning and are useful to perform a different task.

| Escape Character | Meaning               |
|------------------|-----------------------|
| \                | New line continuation |
| \\               | Display a single \    |
| \'               | Dispaly a single quote|
| \"               | Display a double quote|
| \b               | Backspace             |
| \r               | Carriage return       |
| \t               | Horizontal tab        |
| \v               | Vertical tab          |
| \n               | New line              |

### Example 1

In [72]:
number_one = 10

number_two = 20

# New line continuation
total = \
number_one + number_two

total

30

### Example 2

In [73]:
# Display a single quote

file_path = "c:\\Workspace"

print(file_path)

c:\Workspace

### Example 3

In [74]:
# Display a single quote

print('This is Deepak\'s laptop.')

This is Deepak's laptop.

### Example 4

In [75]:
# Display a double quote

print("\"I think and think, 99 times the conclusion is false, 100th time I am right\"")

"I think and think, 99 times the conclusion is false, 100th time I am right"

### Example 5

In [76]:
# backspace

print("Welcome\b to programming")

Welcome to programming

### Example 6

In [77]:
# New line

print("Welcome\nPython programming")

Welcome
Python programming

### Example 7

In [78]:
# Horizontal tab
print("Python\tProgramming")

Python	Programming

# Reserved Words/Keywords

Reserved words are the words that are already reserved for a particular purpose in the Python language.

The names of the reserved words must not be used as variable names.

## Python Keywords

In [79]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# User Input

Use the function *input* to accept input from the user.

To print the message to the user, pass the text within parenthesis for the *input* function.

The *input* function creates a box for the user to enter the information.

The interpreter pause the code execution when it comes across the *input* function, until enter is pressed.

The user input data type is taken as **string**.

## Accepting User Input

### Example 1

In [80]:
input("What is your name?")

What is your name?Deepak

'Deepak'

## Storing User Input

Store the user input into a variable in order to work further.

### Example 1

In [81]:
user_name = input("What is your name?")

print(f"Hello {user_name}, Welcome!")

What is your name?Deepak
Hello Deepak, Welcome!

### Example 2 : Check the data type of the user input

In [82]:
user_name = input("What is your name?")

print(type(user_name))

What is your name?Deepak
<class 'str'>

### Example 3 : Check the data type of the user input

In [83]:
semester = input("Which semester are you strudying in?")

type(semester)

Which semester are you strudying in?2

str

# Type Conversion

Type conversion is converting value of one data type to another.

In Python, wrap the data type around the variable for data type conversion.

### Example 1: Converting String to Integer

In [84]:
number = "7"

type(number)

str

In [85]:
number = int(number) # Convert to Integer

type(number)

int

### Example 2: Converting String to Integer

In [86]:
number = "12.5"

type(number)

str

In [87]:
number =  float(number)

number = int(number)

In [88]:
type(number), number

(int, 12)

### Example 3: Converting String to Float

In [89]:
height = "5.11"

type(height)

str

In [90]:
height = float(height) # Convert to Float

type(height)

float

### Example 4: Converting String to Boolean

In [91]:
switch_on = "True"

type(switch_on)

str

In [92]:
switch_on = bool(switch_on)

type(switch_on)

bool

In [93]:
print(switch_on)

True

### Example 5: Converting String to Boolean

In [94]:
switch_on = "False"

type(switch_on)

str

In [95]:
switch_on = bool(switch_on)

type(switch_on)

bool

In [96]:
print(switch_on)

True

### Example 6: Converting String to Boolean

In [97]:
ninth_planet_name = ""

type(ninth_planet_name)

str

In [98]:
ninth_planet_name = bool(ninth_planet_name)

type(ninth_planet_name)

bool

In [99]:
print(ninth_planet_name)

False

### Example 7: Converting Integer to Float

In [100]:
year = 2024

type(year)

int

In [101]:
year = float(year) # Convert to Float

type(year)

float

In [102]:
print(year)

2024.0

### Example 8: Converting Float to Integer

In [103]:
temperature = 96.8

type(temperature)

float

In [104]:
temperature = int(temperature) # Convert to Integer

type(temperature)

int

In [105]:
print(temperature)

96

### Example 9: Converting Boolean to Integer

In [106]:
is_raining = False

type(is_raining)

bool

In [107]:
is_raining = int(is_raining) # Convert to Integer

type(is_raining)

int

In [108]:
print(is_raining)

0

### Example 10: Converting Boolean to Integer

In [109]:
is_hot = True

type(is_hot)

bool

In [110]:
is_hot = int(is_hot) # Convert to Integer

type(is_hot)

int

In [111]:
print(is_hot)

1

**Note:** The boolean type of True converts to an integer of 1 because the True and False values represent 1 and 0, respectively.

### Example 11: Converting Integer to Boolean

In [112]:
day = 10

type(day)

int

In [113]:
day = bool(day) # Convert to Boolean

type(day)

bool

In [114]:
print(day)

True

### Example 12: Converting Integer to Boolean

In [115]:
gravity = 0;

type(gravity)

int

In [116]:
gravity = bool(gravity) # Convert to Boolean

type(gravity)

bool

In [117]:
print(gravity)

False

### Example 13: Converting Integer to Boolean

In [118]:
temperature = -3

type(temperature)

int

In [119]:
temperature = bool(temperature) # Convert to Boolean

type(temperature)

bool

In [120]:
print(temperature)

True

**Note:**  The True and False values are represent by 1 and 0, respectively.

### Example 14: Converting Float to Boolean

In [121]:
distance_travelled = 0.0

type(distance_travelled)

float

In [122]:
distance_travelled = bool(distance_travelled) # Convert to Boolean

type(distance_travelled)

bool

In [123]:
print(distance_travelled)

False

### Example 15: Converting Float to Boolean

In [124]:
speed = 65.5

type(speed)

float

In [125]:
speed = bool(speed) # Convert to Boolean

type(speed)

bool

In [126]:
print(speed)

True

### Example 16: Converting number to complex number

In [127]:
complex(10)

(10+0j)

In [128]:
complex(4, 7)

(4+7j)

In [129]:
int(float("12.5"))

12

# Number Conversion

### Example 1: Converting decimal number to binary

In [130]:
bin(10)

'0b1010'

### Example 2: Converting decimal number to octal

In [131]:
oct(10)

'0o12'

### Example 3: Converting decimal number to hexadecimal

In [132]:
hex(255)

'0xff'

### Example 4: Converting binary to decimal

In [133]:
int(0b11)

3

### Example 5: Converting octal to decimal

In [134]:
int(0o12)

10

### Example 6: Converting hexadecimal to deimal

In [135]:
int(0xff)

255

### Example 7: Converting string to decimal

In [136]:
# int(string_value, base)

int("ff", 16)

255

## Exercise

1. Accept the age of the user as input. Convet the user input to float data type.

2. Ask the user to input the year, make, model, and color of their car, and print a formatted statement like “2018 Blue Chevrolet Silverado.”

# Indentation

Whitespace at the beginning of the line is called indentation.

In Python, indentation is used to associate and group statements.

Statements is a block must have the same indentation level.

Python strictly checks the indentation level and gives an error if indentation is not correct.

# Operators and Expressions

The general purpose of a program is to accept the data and perform operations on the data.

The data in a program are stored in variables.

Operators are the programming constructs that are used to manipulate the value of operands. 

An operator is a symbol that performs an operation. 

Variables on which the operator operates, are called operands.

If an operator acts on a single variable, it is called unary operator. If an operator acts on two variables, it is called binary operator.

In an expression, an operator is used on operands.

## Arithmetic Operators

Arithmetic operators are used to perform basic arithmetic operations like addition, subtraction, multiplication, and division.

| Operator | Operation        | 
| -------  | ---------------- |
|    +     | Addition         |
|    -     | Subtraction      |
|    *     | Multiplication   |
|    /     | Division         |
|    %     | Modulus          |
|   **     | Exponent         |
|   //     | Floor Division |

In [137]:
first_num = 13

second_num = 5

### Example 1

In [138]:
# Addition Operation

total = first_num + second_num

print(total)

18

### Example 2

In [139]:
# Subtraction

difference = first_num - second_num

print(difference)

8

### Example 3

In [140]:
# Multiplication

product = first_num * second_num

print(product)

65

### Example 4

In [141]:
# Division

result = first_num / second_num

print(result)

2.6

### Example 5

In [142]:
# Modulus

remainder = first_num % second_num

print(remainder)

3

### Example 6

In [143]:
# Exponent

exponent = first_num ** second_num

print(exponent)

371293

### Example 7

In [144]:
# Integer division

result = first_num // second_num

print(result)

2

When an expression contains several arithmetic operators, the expression is evaluated in the following order:

1. Parentheses are evaluated first.

2. Exponent is evaluated next.

3. Multiplication, division, modulus and integer division are at the same priority

4. Addition and subtraction are performed next.

5. Assignment is performed at the last.

### Example 1

In [145]:
x = 1

y = 2

z = 3

a = 2

b = 2

c = 3

In [146]:
'''
(1 + 2) * 3 ** 2 // 2 + 3
 
3 * 3 ** 2 // 2 + 3

3 * 9 // 2 + 3

27 // 2 + 3

13 + 3
'''

'\n(1 + 2) * 3 ** 2 // 2 + 3\n \n3 * 3 ** 2 // 2 + 3\n\n3 * 9 // 2 + 3\n\n27 // 2 + 3\n\n13 + 3\n'

In [147]:
d = (x + y) * z ** a // b + c

In [148]:
print(d)

16

### Exercise

1. Evaluate the following expressions:
    
    a. 2 ** 6 // 8 % 2
    
    b. 5 % 10 + 10 -23 * 4 // 3
    
    c. 5 + 5 // 5 - 5 * 5 ** 5 % 5

2. Obtain integer quotient and remainder while dividing 29 with 5.

## Assignment Operators

Assignment operators are used to store the result of an expression.

Assignment operators can also be used to perform arithmetic operations and then store the result into a variable.

| Operator | Description |
| -------- | ----------- |
| =        | Assignment Operator |
| +=       | Addition assignment operator |
| -=       | Subtraction assignment operator |
| *=       | Multiplication assignment operator |
| /=       | Division assignment operator |
| %=       | Modulus assignment operator |
| \**=     | Exponentiation assignment operator |
| //=      | Integer or floor division assignment operator |

### Example 1

In [149]:
a = 1

b = 2

In [150]:
print(a)

print(b)

1
2

### Example 2

In [151]:
a = 1; b = 1;

In [152]:
print(a)

print(b)

1
1

### Example 3

In [153]:
a = b = 5

In [154]:
print(a)

print(b)

5
5

### Example 4

In [155]:
a, b = 1, 2

In [156]:
print(a)

print(b)

1
2

### Example 5

In [157]:
x = 5; y = 10

x += y # x = x + y

print(x)

15

## Unary Minus Operator

The unary minus operator is denoted by minus (-).

When the minus operator is used before the variable, the value of the variable is negated.

### Example 1

In [158]:
number = 2024

print(-number)

-2024

### Example 2

In [159]:
number = -2000

print(-number)

2000

## Relational Operators

Relational operators are used to compare two quantities.

Relational operators result in **True** or **False** value based on the comparision.

| Operator | Operation |
| -------- | --------- |
|     >    | Greater than |
| >=       | Greater than or equal |
| <        | Less than |
| <=       | Less than or equal |
| ==       | Equal |
| !=       | Not equal |

### Example 1

In [160]:
num_one = 10

num_two = 5

print(num_one > num_two)

True

### Example 2

In [161]:
num_one = 10

num_two = 5

print(num_two > num_one)

False

### Example 3

In [162]:
num_one = 10

num_two = 10

print(num_one >= num_two)

True

### Example 4

In [163]:
num_one = 10

num_two = 10

print(num_one == num_two)

True

### Example 5

In [164]:
num_one = 10

num_two = 20

print(num_one != num_two)

True

**Note:** Relational operators can be chained i.e., an expression can hold more than one relational operator.

### Example 1

In [165]:
print(10 < 15 < 20)

True

### Example 2

In [166]:
print(1 < 2 > 3 < 4)

False

## Logical Operators

Logical operators are used to combine conditional statements.

| Operator | Operation |
| -------- | --------- |
| and      | Returns True if both statements are True |
| or       | Returns True if one of the statements is True |
| not      | Reverse the result, returns False if the result is True |

### Example 1

In [167]:
x = 10

print((x < 50) and (x < 20))

True

In [168]:
# Alternate expression 

print(50 > x < 20)

True

### Example 2

In [169]:
x = 3

print((x < 5) or (x < 6))

True

### Example 3

In [170]:
x = 3

print(not((x < 5) or (x < 6)))

False

## Bitwise Operators

Bitwise operators operate on individual bits (0 and 1) of the operands.

Bitwise operators can be used on binary numbers or on integers.

When used on integers, the numbers are first converted into binary number and then bitwise operation is performed.

The result of the bitwise operation is always in the form of integers (decimal value).

| Operator | Name      | Operation |
| -------- | --------- | -------   
| &        | And       | Sets each bit to 1 if both bits are 1 |
| \|       | OR        | Sets each bit to 1 if one of two bits is 1 |
| ^        | XOR       | Sets each bit to 1 if only one of two bits is 1 |
| ~        | NOT       | Inverts all the bits |
| <<       | Zero fill left shift | Shift left by pushing zeros in from the right and let the leftmost bits fall off |
| >>       | Signed right shift | Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off|

### Example 1

In [171]:
x = 10

y = 11

In [172]:
bin(x), bin(y)

('0b1010', '0b1011')

In [173]:
print(x & y)

10

### Example 2

In [174]:
x = 10

y = 11

In [175]:
bin(x), bin(y)

('0b1010', '0b1011')

In [176]:
print(x | y)

11

### Example 3

In [177]:
x = 10

y = 11

In [178]:
bin(x), bin(y)

('0b1010', '0b1011')

In [179]:
print(x ^ y)

1

### Example 4

In [180]:
x = 10

In [181]:
bin(x)

'0b1010'

In [182]:
print(~x)

-11

### Example 5

In [183]:
x = 10

print(x << 1)

20

### Example 6

In [184]:
x = 10

print(x >> 1)

5

## Identity Operators

Identity operators are used to compare the memory location of two objects.

The memory location of an object can be found using the id() function.

The id() function returns an integer number, called the *identity number* that represents the memory location of the object.

### Example 1

In [185]:
x = 10

print(id(x))

140727935472712

In [186]:
y = 20

print(id(y))

140727935473032

In [187]:
z = 10

print(id(z))

140727935472712

| Operator | Description |
| -------- | ----------- |
| is       | Returns True if both variables are the same object |
| is not   | Returns True if both variables are not the same object |

### Example 1

In [188]:
x = 10

y = 10

In [189]:
id(x), id(y)

(140727935472712, 140727935472712)

In [190]:
print(x is y)

True

### Example 2

In [191]:
x = 10

y = 20

In [192]:
id(x), id(y)

(140727935472712, 140727935473032)

In [193]:
print(x is y)

False

In [194]:
print(x is not y)

True

## Membership Operators

Membership operators are used to test for membership in a sequence such as strings, lists, tuple or dictionaries.

| Operator | Description |
| -------- | ----------- |
| in       | Returns True if an element is found in the specified sequence. |
| not in   | Returns True if an element is not found in the sequence. |

### Example 1

In [195]:
country = 'India'

In [196]:
country[0]

'I'

In [197]:
country[4]

'a'

In [198]:
print('n' in country)

True

### Example 2

In [199]:
message = "Python is an easier programming language."

In [200]:
print(message[5])

n

In [201]:
print("an" in message)

True

In [202]:
print("java" in message)

False

In [203]:
print("python" not in message) # Case sensitive

True

In [204]:
print("on" in message)

True

## Operator Precedence

An expression or a formula may contain several operators.

The sequence of execution of the operators is known as operator precedence.

The operators with higher precedence will be executed first.

| Operator | Name |
| -------- | ---- |
| ()       | Parenthesis |
| **       | Exponentiation |
| -, ~     | Unary minus, Bitwise complement |
| *, /, //, % | Multiplication, Division, Floor devision, Modulus |
| +, -     | Addition, Subtraction |
| <<, >>   | Bitwise left shift, Bitwise right shift |
| &        | Bitwise AND |
| ^        | Bitwise XOR |
| \|       | Bitwise OR  |
| >, >=, <, <=, ==, != | Relational Operators |
| =, %=, /=, //=, -=, +=, *=, \**= | Assignment Operators |
| is, is not | Identity operators |
| in, not in | Membership operatos |
| not      | Logical not |
| or       | Logical or  |
| and      | Logical and |