# Tuples

Tuple is another data structure supported by Python.

Tuple differs from list in the following ways:

* Tuple is a sequence of immutable objects i.e., the values in a tuple cannot be changed.

* Tuple uses () to define its elements.

## Creating Tuples

To create a tuple, mention the elements within a parentheses, separated by comma.

### Example

In [1]:
empty_tuple = ()

In [2]:
type(empty_tuple)

tuple

In [3]:
print(empty_tuple)

()

### Example

In [4]:
rivers = ('Kaveri', 'Tunga Bhadra', 'Hemavathi', 'Sharavathi', 'Kali')

In [5]:
type(rivers)

tuple

In [6]:
print(rivers)

('Kaveri', 'Tunga Bhadra', 'Hemavathi', 'Sharavathi', 'Kali')

### Example

In [7]:
odd_numbers = (1, 3, 5, 7)

In [8]:
type(odd_numbers)

tuple

In [9]:
print(odd_numbers)

(1, 3, 5, 7)

### Example

In [7]:
person = ('Samhithaa', 7, 5.2)

In [8]:
type(person)

tuple

In [12]:
print(person)

('Samhithaa', 7, 5.2)

### Example - Tuple with a single element

In [13]:
states = ('Karnataka')

In [14]:
type(states)

int

In [11]:
states = ('Karnataka', )

In [12]:
type(states)

tuple

**Note:** To create a tuple with a single element, add a comma after the element. Otherwise Python treats the element as an ordinary data type.

## Utility of Tuples

Tuples are extremely useful for representing records or structures.

### Example

In [18]:
state = ('Karnataka', 'Bengaluru', 7.71, 1,91,791)

## Accessing Values in a Tuple

The elements of a tuple are accessed using the index.

The index starts at 0.

Operations like slice, concatenate etc. can be performed on a tuple.

### Example

In [19]:
months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

In [23]:
print(months[0])

Jan

In [24]:
print(months[0:3])

('Jan', 'Feb', 'Mar')

In [25]:
print(months[::-1])

('Dec', 'Nov', 'Oct', 'Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan')

In [26]:
print(months[::2])

('Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov')

In [27]:
summer_season = ('Mar', 'Apr', 'May')

rainy_season = ('Jun', 'Jul', 'Aug', 'Sep')

print(summer_season + rainy_season)

('Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep')

## Updating Tuple

Tuple is immutable. The values in the tuple cannot be changed.

## Deleting Elements in Tuple

Tuple is immutable. The values in the tuple cannot be deleted.

Create a new tuple from the existing tuple by selecting only the required elements.

However, the entire tuple can be deleted using the *del* statement.

### Example

In [28]:
programming_languages = ('C', 'C++', 'Python', 'JavaScript', 'SQL', 'JAVA')

In [29]:
my_favourite_languages = programming_languages[2:5]

print(my_favourite_languages)

('Python', 'JavaScript', 'SQL')

### Example

In [15]:
my_favourite_languages = ('Python', 'JavaScript', 'SQL')

In [16]:
del my_favourite_languages

In [17]:
print(my_favourite_languages)

NameError: name 'my_favourite_languages' is not defined

## Basic Tuple Operations

### Length of a tuple

In [33]:
programming_languages = ('C', 'C++', 'Python', 'JavaScript', 'SQL', 'JAVA')

print(len(programming_languages))

6

### Concatenation

In [34]:
summer_season = ('Mar', 'Apr', 'May')

rainy_season = ('Jun', 'Jul', 'Aug', 'Sep')

print(summer_season + rainy_season)

('Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep')

### Repetition

In [35]:
my_favourite_languages = ('Python', 'JavaScript', 'SQL')

print(my_favourite_languages * 3)

('Python', 'JavaScript', 'SQL', 'Python', 'JavaScript', 'SQL', 'Python', 'JavaScript', 'SQL')

### Membership

In [36]:
months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

In [37]:
print('Jan' in months)

True

In [38]:
print('March' in months)

False

### Iteration

In [39]:
my_favourite_languages = ('Python', 'JavaScript', 'SQL')

In [40]:
for lang in my_favourite_languages:
    print(lang)

Python
JavaScript
SQL

### Comparison

Tuples are compared lexicographically i.e., compared elementwise.

The first element from the first tuple is compared with the first element from the second tuple and so on.

Sometimes the first comparison is enough to conclude the result but if it is not then the tuples are compared further until all the elements are compared

#### Example

In [50]:
(2, 4, 6) > (1, 3, 5)

True

In [51]:
(2, 4, 6) > (1, 300, 5)

True

In [53]:
(2, 4, 6) > (100, 3, 5)

False

### Maximum value in a tuple

In [44]:
years = (2000, 2012, 2014, 2024)

In [45]:
print(max(years))

2024

### Minimum value in a tuple

In [46]:
print(min(years))

2000

### Convert to Tuple

In [47]:
favourite_colour = 'Lavender'

In [48]:
print(tuple(favourite_colour))

('L', 'a', 'v', 'e', 'n', 'd', 'e', 'r')

## Tuple Assignment

A tuple of variables on the left side of the assignment operator is assigned values from a tuple on the right side of the assignment operator.

Each value is assigned to its respective variable.

### Example

In [54]:
(name, course, semester) = ('Saathvik', 'AIML', 3)

In [55]:
print(f'Name: {name} \t Course: {course} \t Semester: {semester}')

Name: Saathvik 	 Course: AIML 	 Semester: 3

### Example

In [18]:
(name, course, semester) = ('Saathvik', 'AIML')

ValueError: not enough values to unpack (expected 3, got 2)

**Note:** While assigning values to a tuple ensure that number of values on both the sides of the assignment operator are same. Otherwise an error will be generated.

## Tuples for Returning Multiple Values

A function can return only a single value.

To return more than one value from a function, group multiple values together and return.

### Example

In [56]:
def get_min_max_average(*marks):
    min_marks = min(marks)

    max_marks = max(marks)

    total = sum(marks)

    average = sum(marks)/len(marks)

    return (min_marks, max_marks, total, average)

In [57]:
minimum, maximum, total, average = get_min_max_average(70, 84, 75, 57, 55, 61)

In [58]:
print(f"Minimum = {minimum} \t Maximum = {maximum} \t Total = {total} \t Average = {average}")

Minimum = 55 	 Maximum = 84 	 Total = 402 	 Average = 67.0

## Nested Tuples

A tuple defined inside another tuple is called a nested tuple.

### Example

In [1]:
student = ('Samhithaa', 'CSE', (95, 85, 90, 95, 90)) # Student and her marks

In [2]:
print(student)

('Samhithaa', 'CSE', (95, 85, 90, 95, 90))

### Example - List in a tuple

In [3]:
student = ('Saathvik', 'AIML', [95, 95, 90, 95, 90]) # Student and his marks

In [4]:
print(student)

('Saathvik', 'AIML', [95, 95, 90, 95, 90])

## Tuple Methods

### *index()* method

The index of an element in the tuple can be obtained using the *index()* method.

An error is generated, if the element is not found in the tuple.

#### Example

In [5]:
colours = ('Violet', 'Indigo', 'Blue', 'Green', 'Yellow', 'Orange', 'Red')

In [7]:
print(colours.index('Yellow'))

4

In [8]:
print(colours.index('White'))

ValueError: tuple.index(x): x not in tuple

### *count()* method

The *count()* method is used to get the number of times an element is present in a tuple.

#### Example

In [19]:
message = 'an apple a day keeps the doctor away'

In [20]:
message = tuple(message)

In [22]:
print(message)

('a', 'n', ' ', 'a', 'p', 'p', 'l', 'e', ' ', 'a', ' ', 'd', 'a', 'y', ' ', 'k', 'e', 'e', 'p', 's', ' ', 't', 'h', 'e', ' ', 'd', 'o', 'c', 't', 'o', 'r', ' ', 'a', 'w', 'a', 'y')

In [11]:
print(message.count('a'))

6

## List Comprehension and Tuples

### Example

In [17]:
numbers = (1, 2, 3, 4, 5)

double = ([x * 2 for x in numbers])

In [18]:
print(double)

[2, 4, 6, 8, 10]

## The *zip()* function

*zip()* is a built-in function that takes two or more sequences and "zips" them into a list of tuples.

The tuple formed, has one element from each sequence.

### Example

In [24]:
numbers = (0, 1, 2, 3, 4)

vowels = ('a', 'e', 'i', 'o', 'u')

zipped = zip(numbers, vowels)

print(list(zipped))

[(0, 'a'), (1, 'e'), (2, 'i'), (3, 'o'), (4, 'u')]

### Example - Sequences of unequal length

In [21]:
numbers = (0, 1, 2, 3, 4, 5)

vowels = ('a', 'e', 'i', 'o', 'u')

print(list(zip(numbers, vowels)))

[(0, 'a'), (1, 'e'), (2, 'i'), (3, 'o'), (4, 'u')]

**Note:** Result has the length of the shorter sequence.

## Looping in Tuples

### Example

In [25]:
vowels = ('a', 'e', 'i', 'o', 'u')

for vowel in vowels:
    print(vowel)

a
e
i
o
u

### Example

In [22]:
tup = ((0, 'a'), (1, 'e'), (2, 'i'), (3, 'o'), (4, 'u'))

In [23]:
for num, alpha in tup:
    print(num, alpha)

0 a
1 e
2 i
3 o
4 u

## Advantages of Tuple over List

* Since tuples are immutable, iterating through tuples is faster than iterating over a list.

* Tuples are best suited for storing data that is write-protected.

* Multiple values from a function can be returned using a tuple.